:root {
  --start-0: polygon(50% 50%, 40% 40%, 60% 40%);
  --start-1: polygon(50% 50%, 60% 40%, 70% 50%);
  --start-2: polygon(50% 50%, 70% 50%, 60% 60%);
  --start-3: polygon(50% 50%, 60% 60%, 40% 60%);
  --start-4: polygon(50% 50%, 40% 60%, 30% 50%);
  --start-5: polygon(50% 50%, 30% 50%, 40% 40%);
  --start-6: polygon(40% 40%, 30% 30%, 60% 40%);
  --start-7: polygon(60% 40%, 30% 30%, 70% 30%);
  --start-8: polygon(60% 40%, 70% 30%, 70% 50%);
  --start-9: polygon(70% 50%, 70% 30%, 85% 45%);
  --start-10: polygon(70% 50%, 85% 45%, 60% 60%);
  --start-11: polygon(60% 60%, 85% 45%, 70% 80%);
  --start-12: polygon(60% 60%, 70% 80%, 40% 60%);
  --start-13: polygon(40% 60%, 70% 80%, 30% 80%);
  --start-14: polygon(40% 60%, 30% 80%, 30% 50%);
  --start-15: polygon(30% 50%, 30% 80%, 15% 50%);
  --start-16: polygon(30% 50%, 15% 50%, 40% 40%);
  --start-17: polygon(40% 40%, 15% 50%, 30% 30%);
  --start-18: polygon(30% 30%, 20% 20%, 70% 30%);
  --start-19: polygon(70% 30%, 20% 20%, 80% 20%);
  --start-20: polygon(70% 30%, 80% 20%, 85% 45%);
  --start-21: polygon(85% 45%, 80% 20%, 95% 40%);
  --start-22: polygon(85% 45%, 95% 40%, 70% 80%);
  --start-23: polygon(70% 80%, 95% 40%, 75% 95%);
  --start-24: polygon(70% 80%, 75% 95%, 30% 80%);
  --start-25: polygon(30% 80%, 75% 95%, 20% 95%);
  --start-26: polygon(30% 80%, 20% 95%, 15% 50%);
  --start-27: polygon(15% 50%, 20% 95%, 5% 50%);
  --start-28: polygon(15% 50%, 5% 50%, 30% 30%);
  --start-29: polygon(30% 30%, 5% 50%, 20% 20%);
  --flow-0: polygon(50% 50%, 45% 35%, 55% 35%);
  --flow-1: polygon(50% 50%, 55% 35%, 60% 50%);
  --flow-2: polygon(50% 50%, 60% 50%, 55% 65%);
  --flow-3: polygon(50% 50%, 55% 65%, 45% 65%);
  --flow-4: polygon(50% 50%, 45% 65%, 40% 50%);
  --flow-5: polygon(50% 50%, 40% 50%, 45% 35%);
  --flow-6: polygon(45% 35%, 40% 15%, 55% 35%);
  --flow-7: polygon(55% 35%, 40% 15%, 60% 20%);
  --flow-8: polygon(55% 35%, 60% 20%, 60% 50%);
  --flow-9: polygon(60% 50%, 60% 20%, 75% 55%);
  --flow-10: polygon(60% 50%, 75% 55%, 55% 65%);
  --flow-11: polygon(55% 65%, 75% 55%, 70% 85%);
  --flow-12: polygon(55% 65%, 70% 85%, 45% 65%);
  --flow-13: polygon(45% 65%, 70% 85%, 40% 90%);
  --flow-14: polygon(45% 65%, 40% 90%, 40% 50%);
  --flow-15: polygon(40% 50%, 40% 90%, 25% 55%);
  --flow-16: polygon(40% 50%, 25% 55%, 45% 35%);
  --flow-17: polygon(45% 35%, 25% 55%, 40% 15%);
  --flow-18: polygon(40% 15%, 35% 5%, 60% 20%);
  --flow-19: polygon(60% 20%, 35% 5%, 65% 10%);
  --flow-20: polygon(60% 20%, 65% 10%, 75% 55%);
  --flow-21: polygon(75% 55%, 65% 10%, 90% 60%);
  --flow-22: polygon(75% 55%, 90% 60%, 70% 85%);
  --flow-23: polygon(70% 85%, 90% 60%, 80% 95%);
  --flow-24: polygon(70% 85%, 80% 95%, 40% 90%);
  --flow-25: polygon(40% 90%, 80% 95%, 30% 95%);
  --flow-26: polygon(40% 90%, 30% 95%, 25% 55%);
  --flow-27: polygon(25% 55%, 30% 95%, 10% 60%);
  --flow-28: polygon(25% 55%, 10% 60%, 40% 15%);
  --flow-29: polygon(40% 15%, 10% 60%, 35% 5%);
  --beach-0: polygon(50% 50%, 50% 35%, 65% 50%);
  --beach-1: polygon(50% 50%, 65% 50%, 60% 65%);
  --beach-2: polygon(50% 50%, 60% 65%, 50% 65%);
  --beach-3: polygon(50% 50%, 50% 65%, 35% 50%);
  --beach-4: polygon(50% 50%, 35% 50%, 40% 35%);
  --beach-5: polygon(50% 50%, 40% 35%, 50% 35%);
  --beach-6: polygon(50% 35%, 50% 15%, 65% 50%);
  --beach-7: polygon(65% 50%, 50% 15%, 85% 50%);
  --beach-8: polygon(65% 50%, 85% 50%, 60% 65%);
  --beach-9: polygon(60% 65%, 85% 50%, 75% 85%);
  --beach-10: polygon(60% 65%, 75% 85%, 50% 65%);
  --beach-11: polygon(50% 65%, 75% 85%, 50% 85%);
  --beach-12: polygon(50% 65%, 50% 85%, 35% 50%);
  --beach-13: polygon(35% 50%, 50% 85%, 15% 50%);
  --beach-14: polygon(35% 50%, 15% 50%, 40% 35%);
  --beach-15: polygon(40% 35%, 15% 50%, 25% 15%);
  --beach-16: polygon(40% 35%, 25% 15%, 50% 35%);
  --beach-17: polygon(50% 35%, 25% 15%, 50% 15%);
  --beach-18: polygon(50% 15%, 50% 0%, 85% 50%);
  --beach-19: polygon(85% 50%, 50% 0%, 100% 50%);
  --beach-20: polygon(85% 50%, 100% 50%, 75% 85%);
  --beach-21: polygon(75% 85%, 100% 50%, 85% 100%);
  --beach-22: polygon(75% 85%, 85% 100%, 50% 85%);
  --beach-23: polygon(50% 85%, 85% 100%, 50% 100%);
  --beach-24: polygon(50% 85%, 50% 100%, 15% 50%);
  --beach-25: polygon(15% 50%, 50% 100%, 0% 50%);
  --beach-26: polygon(15% 50%, 0% 50%, 25% 15%);
  --beach-27: polygon(25% 15%, 0% 50%, 15% 0%);
  --beach-28: polygon(25% 15%, 15% 0%, 50% 15%);
  --beach-29: polygon(50% 15%, 15% 0%, 50% 0%);
  --battle-0: polygon(50% 50%, 45% 40%, 55% 40%);
  --battle-1: polygon(50% 50%, 55% 40%, 60% 50%);
  --battle-2: polygon(50% 50%, 60% 50%, 55% 60%);
  --battle-3: polygon(50% 50%, 55% 60%, 45% 60%);
  --battle-4: polygon(50% 50%, 45% 60%, 40% 50%);
  --battle-5: polygon(50% 50%, 40% 50%, 45% 40%);
  --battle-6: polygon(45% 40%, 25% 25%, 55% 40%);
  --battle-7: polygon(55% 40%, 25% 25%, 75% 25%);
  --battle-8: polygon(55% 40%, 75% 25%, 60% 50%);
  --battle-9: polygon(60% 50%, 75% 25%, 75% 50%);
  --battle-10: polygon(60% 50%, 75% 50%, 55% 60%);
  --battle-11: polygon(55% 60%, 75% 50%, 75% 75%);
  --battle-12: polygon(55% 60%, 75% 75%, 45% 60%);
  --battle-13: polygon(45% 60%, 75% 75%, 25% 75%);
  --battle-14: polygon(45% 60%, 25% 75%, 40% 50%);
  --battle-15: polygon(40% 50%, 25% 75%, 25% 50%);
  --battle-16: polygon(40% 50%, 25% 50%, 45% 40%);
  --battle-17: polygon(45% 40%, 25% 50%, 25% 25%);
  --battle-18: polygon(25% 25%, 10% 10%, 75% 25%);
  --battle-19: polygon(75% 25%, 10% 10%, 90% 10%);
  --battle-20: polygon(75% 25%, 90% 10%, 75% 50%);
  --battle-21: polygon(75% 50%, 90% 10%, 90% 50%);
  --battle-22: polygon(75% 50%, 90% 50%, 75% 75%);
  --battle-23: polygon(75% 75%, 90% 50%, 90% 90%);
  --battle-24: polygon(75% 75%, 90% 90%, 25% 75%);
  --battle-25: polygon(25% 75%, 90% 90%, 10% 90%);
  --battle-26: polygon(25% 75%, 10% 90%, 25% 50%);
  --battle-27: polygon(25% 50%, 10% 90%, 10% 50%);
  --battle-28: polygon(25% 50%, 10% 50%, 25% 25%);
  --battle-29: polygon(25% 25%, 10% 50%, 10% 10%);
  --burpees-0: polygon(50% 50%, 55% 40%, 65% 40%);
  --burpees-1: polygon(50% 50%, 65% 40%, 55% 50%);
  --burpees-2: polygon(50% 50%, 55% 50%, 45% 60%);
  --burpees-3: polygon(50% 50%, 45% 60%, 35% 60%);
  --burpees-4: polygon(50% 50%, 35% 60%, 45% 50%);
  --burpees-5: polygon(50% 50%, 45% 50%, 55% 40%);
  --burpees-6: polygon(55% 40%, 60% 20%, 65% 40%);
  --burpees-7: polygon(65% 40%, 60% 20%, 80% 20%);
  --burpees-8: polygon(65% 40%, 80% 20%, 55% 50%);
  --burpees-9: polygon(55% 50%, 80% 20%, 60% 40%);
  --burpees-10: polygon(55% 50%, 60% 40%, 45% 60%);
  --burpees-11: polygon(45% 60%, 60% 40%, 40% 80%);
  --burpees-12: polygon(45% 60%, 40% 80%, 35% 60%);
  --burpees-13: polygon(35% 60%, 40% 80%, 20% 80%);
  --burpees-14: polygon(35% 60%, 20% 80%, 45% 50%);
  --burpees-15: polygon(45% 50%, 20% 80%, 40% 60%);
  --burpees-16: polygon(45% 50%, 40% 60%, 55% 40%);
  --burpees-17: polygon(55% 40%, 40% 60%, 60% 20%);
  --burpees-18: polygon(60% 20%, 65% 0%, 80% 20%);
  --burpees-19: polygon(80% 20%, 65% 0%, 95% 0%);
  --burpees-20: polygon(80% 20%, 95% 0%, 60% 40%);
  --burpees-21: polygon(60% 40%, 95% 0%, 70% 45%);
  --burpees-22: polygon(60% 40%, 70% 45%, 40% 80%);
  --burpees-23: polygon(40% 80%, 70% 45%, 35% 100%);
  --burpees-24: polygon(40% 80%, 35% 100%, 20% 80%);
  --burpees-25: polygon(20% 80%, 35% 100%, 5% 100%);
  --burpees-26: polygon(20% 80%, 5% 100%, 40% 60%);
  --burpees-27: polygon(40% 60%, 5% 100%, 30% 55%);
  --burpees-28: polygon(40% 60%, 30% 55%, 60% 20%);
  --burpees-29: polygon(60% 20%, 30% 55%, 65% 0%);
  --mindset-0: polygon(50% 50%, 40% 40%, 60% 40%);
  --mindset-1: polygon(50% 50%, 60% 40%, 70% 55%);
  --mindset-2: polygon(50% 50%, 70% 55%, 60% 70%);
  --mindset-3: polygon(50% 50%, 60% 70%, 40% 70%);
  --mindset-4: polygon(50% 50%, 40% 70%, 30% 55%);
  --mindset-5: polygon(50% 50%, 30% 55%, 40% 40%);
  --mindset-6: polygon(40% 40%, 25% 25%, 60% 40%);
  --mindset-7: polygon(60% 40%, 25% 25%, 75% 25%);
  --mindset-8: polygon(60% 40%, 75% 25%, 70% 55%);
  --mindset-9: polygon(70% 55%, 75% 25%, 85% 55%);
  --mindset-10: polygon(70% 55%, 85% 55%, 60% 70%);
  --mindset-11: polygon(60% 70%, 85% 55%, 75% 85%);
  --mindset-12: polygon(60% 70%, 75% 85%, 40% 70%);
  --mindset-13: polygon(40% 70%, 75% 85%, 25% 85%);
  --mindset-14: polygon(40% 70%, 25% 85%, 30% 55%);
  --mindset-15: polygon(30% 55%, 25% 85%, 15% 55%);
  --mindset-16: polygon(30% 55%, 15% 55%, 40% 40%);
  --mindset-17: polygon(40% 40%, 15% 55%, 25% 25%);
  --mindset-18: polygon(25% 25%, 15% 10%, 75% 25%);
  --mindset-19: polygon(75% 25%, 15% 10%, 85% 10%);
  --mindset-20: polygon(75% 25%, 85% 10%, 85% 55%);
  --mindset-21: polygon(85% 55%, 85% 10%, 95% 60%);
  --mindset-22: polygon(85% 55%, 95% 60%, 75% 85%);
  --mindset-23: polygon(75% 85%, 95% 60%, 80% 95%);
  --mindset-24: polygon(75% 85%, 80% 95%, 25% 85%);
  --mindset-25: polygon(25% 85%, 80% 95%, 20% 95%);
  --mindset-26: polygon(25% 85%, 20% 95%, 15% 55%);
  --mindset-27: polygon(15% 55%, 20% 95%, 5% 60%);
  --mindset-28: polygon(15% 55%, 5% 60%, 25% 25%);
  --mindset-29: polygon(25% 25%, 5% 60%, 15% 10%);
  --presence-0: polygon(50% 50%, 45% 45%, 55% 45%);
  --presence-1: polygon(50% 50%, 55% 45%, 60% 50%);
  --presence-2: polygon(50% 50%, 60% 50%, 55% 55%);
  --presence-3: polygon(50% 50%, 55% 55%, 45% 55%);
  --presence-4: polygon(50% 50%, 45% 55%, 40% 50%);
  --presence-5: polygon(50% 50%, 40% 50%, 45% 45%);
  --presence-6: polygon(45% 45%, 30% 35%, 55% 45%);
  --presence-7: polygon(55% 45%, 30% 35%, 70% 35%);
  --presence-8: polygon(55% 45%, 70% 35%, 60% 50%);
  --presence-9: polygon(60% 50%, 70% 35%, 85% 50%);
  --presence-10: polygon(60% 50%, 85% 50%, 55% 55%);
  --presence-11: polygon(55% 55%, 85% 50%, 70% 65%);
  --presence-12: polygon(55% 55%, 70% 65%, 45% 55%);
  --presence-13: polygon(45% 55%, 70% 65%, 30% 65%);
  --presence-14: polygon(45% 55%, 30% 65%, 40% 50%);
  --presence-15: polygon(40% 50%, 30% 65%, 15% 50%);
  --presence-16: polygon(40% 50%, 15% 50%, 45% 45%);
  --presence-17: polygon(45% 45%, 15% 50%, 30% 35%);
  --presence-18: polygon(30% 35%, 10% 30%, 70% 35%);
  --presence-19: polygon(70% 35%, 10% 30%, 90% 30%);
  --presence-20: polygon(70% 35%, 90% 30%, 85% 50%);
  --presence-21: polygon(85% 50%, 90% 30%, 100% 50%);
  --presence-22: polygon(85% 50%, 100% 50%, 70% 65%);
  --presence-23: polygon(70% 65%, 100% 50%, 90% 70%);
  --presence-24: polygon(70% 65%, 90% 70%, 30% 65%);
  --presence-25: polygon(30% 65%, 90% 70%, 10% 70%);
  --presence-26: polygon(30% 65%, 10% 70%, 15% 50%);
  --presence-27: polygon(15% 50%, 10% 70%, 0% 50%);
  --presence-28: polygon(15% 50%, 0% 50%, 30% 35%);
  --presence-29: polygon(30% 35%, 0% 50%, 10% 30%);
  --shade-0: 70%;
  --shade-1: 37%;
  --shade-2: 31%;
  --shade-3: 47%;
  --shade-4: 45%;
  --shade-5: 44%;
  --shade-6: 38%;
  --shade-7: 36%;
  --shade-8: 64%;
  --shade-9: 35%;
  --shade-10: 67%;
  --shade-11: 57%;
  --shade-12: 32%;
  --shade-13: 31%;
  --shade-14: 35%;
  --shade-15: 43%;
  --shade-16: 44%;
  --shade-17: 62%;
  --shade-18: 68%;
  --shade-19: 31%;
  --shade-20: 65%;
  --shade-21: 42%;
  --shade-22: 64%;
  --shade-23: 56%;
  --shade-24: 44%;
  --shade-25: 58%;
  --shade-26: 67%;
  --shade-27: 47%;
  --shade-28: 30%;
  --shade-29: 40%;
}
