:root {
  /* start */
  --start-0: polygon(22.66% 0.52%, 46.41% 18.86%, 13.77% 38.81%);
  --start-1: polygon(46.27% 61.77%, 9.11% 73.38%, 16.78% 38.53%);
  --start-2: polygon(19.51% 33.28%, 18.11% 24.92%, 26.81% 22.14%);
  --start-3: polygon(43.94% 21.68%, 31.59% 34.83%, 28.57% 20.50%);
  --start-4: polygon(26.04% 44.82%, 12.12% 12.64%, 46.12% 17.79%);
  --start-5: polygon(79.55% 46.75%, 82.55% 39.70%, 80.31% 46.30%);
  --start-6: polygon(57.75% 45.04%, 77.91% 56.57%, 68.27% 61.00%);
  --start-7: polygon(42.32% 78.37%, 15.52% 65.69%, 32.12% 46.57%);
  --start-8: polygon(53.93% 44.70%, 50.75% 67.19%, 34.55% 50.59%);
  --start-9: polygon(43.37% 59.97%, 34.18% 46.31%, 45.28% 48.39%);
  --start-10: polygon(34.41% 74.47%, 14.46% 71.73%, 29.69% 54.95%);
  --start-11: polygon(38.13% 25.33%, 60.95% 45.92%, 35.48% 60.72%);
  --start-12: polygon(18.61% 89.92%, 27.64% 66.50%, 34.99% 83.90%);
  --start-13: polygon(14.39% 75.57%, 17.31% 64.45%, 25.18% 74.94%);
  --start-14: polygon(34.14% 76.66%, 8.29% 60.09%, 43.97% 42.32%);
  --start-15: polygon(44.20% 14.97%, 74.34% 16.92%, 71.67% 46.09%);
  --start-16: polygon(79.73% 31.53%, 78.81% 19.64%, 84.43% 17.53%);
  --start-17: polygon(54.63% 30.91%, 80.01% 19.28%, 75.35% 51.03%);
  --start-18: polygon(86.95% 70.59%, 62.25% 77.56%, 75.36% 52.82%);
  --start-19: polygon(23.51% 52.56%, 26.34% 33.16%, 47.64% 38.93%);
  --start-20: polygon(28.24% 60.47%, 28.00% 51.01%, 34.31% 50.49%);
  --start-21: polygon(65.17% 9.40%, 78.71% 39.58%, 42.16% 43.82%);
  --start-22: polygon(65.50% 84.82%, 75.66% 65.39%, 78.57% 84.38%);
  --start-23: polygon(55.26% 46.51%, 87.54% 33.40%, 74.18% 72.93%);
  --start-24: polygon(69.66% 67.31%, 60.64% 39.33%, 93.34% 42.19%);
  --start-25: polygon(39.79% 77.33%, 6.98% 77.94%, 20.04% 54.45%);
  --start-26: polygon(33.90% 26.22%, 12.20% 29.03%, 17.14% 5.29%);
  --start-27: polygon(9.02% 49.93%, 13.96% 8.84%, 35.75% 38.82%);
  --start-28: polygon(69.99% 57.09%, 75.59% 84.08%, 45.42% 88.42%);
  --start-29: polygon(65.90% 67.62%, 80.92% 78.29%, 64.78% 80.21%);
  /* flow */
  --flow-0: polygon(25.11% 56.23%, 13.65% 50.32%, 28.63% 41.46%);
  --flow-1: polygon(25.60% 41.35%, 60.51% 44.23%, 30.40% 74.16%);
  --flow-2: polygon(64.36% 52.85%, 53.09% 34.28%, 69.11% 30.07%);
  --flow-3: polygon(56.54% 42.22%, 70.75% 80.00%, 32.35% 80.60%);
  --flow-4: polygon(40.68% 42.98%, 72.26% 14.71%, 82.81% 60.06%);
  --flow-5: polygon(57.75% 45.04%, 77.91% 56.57%, 68.27% 61.00%);
  --flow-6: polygon(64.02% 2.36%, 57.80% 36.68%, 30.06% 12.88%);
  --flow-7: polygon(70.81% 61.80%, 78.90% 52.16%, 80.94% 48.33%);
  --flow-8: polygon(53.93% 44.70%, 50.75% 67.19%, 34.55% 50.59%);
  --flow-9: polygon(43.37% 59.97%, 34.18% 46.31%, 45.28% 48.39%);
  --flow-10: polygon(50.97% 97.46%, 25.59% 74.99%, 62.74% 63.65%);
  --flow-11: polygon(37.35% 55.65%, 20.13% 20.76%, 56.92% 26.88%);
  --flow-12: polygon(59.50% 30.92%, 36.08% 32.39%, 46.10% 7.74%);
  --flow-13: polygon(57.92% 80.38%, 50.46% 68.42%, 59.03% 70.84%);
  --flow-14: polygon(70.49% 71.62%, 51.16% 71.53%, 60.90% 58.91%);
  --flow-15: polygon(34.14% 76.66%, 8.29% 60.09%, 43.97% 42.32%);
  --flow-16: polygon(44.40% 20.26%, 48.79% 31.28%, 36.95% 24.70%);
  --flow-17: polygon(51.60% 63.38%, 43.07% 73.94%, 29.24% 59.82%);
  --flow-18: polygon(44.20% 48.15%, 24.92% 26.35%, 67.16% 15.42%);
  --flow-19: polygon(44.55% 30.57%, 85.66% 18.76%, 75.96% 61.17%);
  --flow-20: polygon(46.91% 47.35%, 66.36% 48.59%, 61.54% 66.03%);
  --flow-21: polygon(75.14% 21.82%, 69.23% 42.35%, 54.22% 29.94%);
  --flow-22: polygon(28.24% 60.47%, 28.00% 51.01%, 34.31% 50.49%);
  --flow-23: polygon(65.17% 9.40%, 78.71% 39.58%, 42.16% 43.82%);
  --flow-24: polygon(38.45% 52.03%, 51.74% 59.68%, 38.16% 72.42%);
  --flow-25: polygon(64.90% 83.25%, 41.62% 97.81%, 37.48% 65.04%);
  --flow-26: polygon(43.67% 18.56%, 58.52% 21.86%, 39.91% 33.15%);
  --flow-27: polygon(43.53% 71.14%, 28.71% 52.89%, 53.65% 47.41%);
  --flow-28: polygon(26.42% 62.33%, 55.94% 63.86%, 38.28% 92.34%);
  --flow-29: polygon(32.30% 51.73%, 40.38% 54.40%, 34.50% 59.87%);
  /* beach */
  --beach-0: polygon(25.11% 56.23%, 13.65% 50.32%, 28.63% 41.46%);
  --beach-1: polygon(25.60% 41.35%, 60.51% 44.23%, 30.40% 74.16%);
  --beach-2: polygon(64.36% 52.85%, 53.09% 34.28%, 69.11% 30.07%);
  --beach-3: polygon(56.54% 42.22%, 70.75% 80.00%, 32.35% 80.60%);
  --beach-4: polygon(40.68% 42.98%, 72.26% 14.71%, 82.81% 60.06%);
  --beach-5: polygon(57.75% 45.04%, 77.91% 56.57%, 68.27% 61.00%);
  --beach-6: polygon(64.02% 2.36%, 57.80% 36.68%, 30.06% 12.88%);
  --beach-7: polygon(11.65% 38.51%, 13.62% 52.65%, 0.49% 55.14%);
  --beach-8: polygon(43.37% 59.97%, 34.18% 46.31%, 45.28% 48.39%);
  --beach-9: polygon(73.69% 21.62%, 83.67% 13.86%, 91.26% 19.02%);
  --beach-10: polygon(37.35% 55.65%, 20.13% 20.76%, 56.92% 26.88%);
  --beach-11: polygon(59.50% 30.92%, 36.08% 32.39%, 46.10% 7.74%);
  --beach-12: polygon(53.99% 80.14%, 49.01% 94.86%, 41.96% 75.62%);
  --beach-13: polygon(48.10% 59.57%, 68.10% 57.43%, 56.81% 74.28%);
  --beach-14: polygon(63.03% 18.26%, 81.89% 40.74%, 53.03% 32.68%);
  --beach-15: polygon(66.43% 100.00%, 24.32% 100.00%, 51.46% 66.27%);
  --beach-16: polygon(51.60% 63.38%, 43.07% 73.94%, 29.24% 59.82%);
  --beach-17: polygon(20.37% 92.30%, 8.32% 67.73%, 34.51% 82.80%);
  --beach-18: polygon(44.55% 30.57%, 85.66% 18.76%, 75.96% 61.17%);
  --beach-19: polygon(46.91% 47.35%, 66.36% 48.59%, 61.54% 66.03%);
  --beach-20: polygon(61.62% 34.08%, 67.67% 18.07%, 86.34% 36.89%);
  --beach-21: polygon(24.75% 59.08%, 48.13% 44.74%, 58.20% 68.01%);
  --beach-22: polygon(2.66% 69.25%, 1.56% 33.40%, 23.13% 47.00%);
  --beach-23: polygon(38.45% 52.03%, 51.74% 59.68%, 38.16% 72.42%);
  --beach-24: polygon(69.66% 67.31%, 60.64% 39.33%, 93.34% 42.19%);
  --beach-25: polygon(43.53% 71.14%, 28.71% 52.89%, 53.65% 47.41%);
  --beach-26: polygon(55.77% 64.85%, 44.08% 59.05%, 60.76% 50.80%);
  --beach-27: polygon(32.30% 51.73%, 40.38% 54.40%, 34.50% 59.87%);
  --beach-28: polygon(14.10% 78.11%, 30.07% 45.03%, 49.49% 79.82%);
  --beach-29: polygon(38.13% 52.98%, 31.99% 28.21%, 59.29% 41.09%);
  /* battle */
  --battle-0: polygon(22.66% 0.52%, 46.41% 18.86%, 13.77% 38.81%);
  --battle-1: polygon(0.00% 0.00%, 29.89% 5.95%, 5.26% 31.96%);
  --battle-2: polygon(19.51% 33.28%, 18.11% 24.92%, 26.81% 22.14%);
  --battle-3: polygon(60.34% 51.36%, 77.48% 65.53%, 58.69% 67.89%);
  --battle-4: polygon(91.83% 77.20%, 75.04% 89.20%, 85.02% 66.66%);
  --battle-5: polygon(40.68% 42.98%, 72.26% 14.71%, 82.81% 60.06%);
  --battle-6: polygon(7.00% 0.00%, 11.70% 1.77%, 12.08% 11.92%);
  --battle-7: polygon(19.59% 71.52%, 31.26% 54.55%, 32.50% 65.19%);
  --battle-8: polygon(85.31% 75.17%, 100.00% 85.55%, 90.29% 97.66%);
  --battle-9: polygon(11.10% 68.82%, 17.22% 100.00%, 0.00% 93.01%);
  --battle-10: polygon(53.93% 44.70%, 50.75% 67.19%, 34.55% 50.59%);
  --battle-11: polygon(43.37% 59.97%, 34.18% 46.31%, 45.28% 48.39%);
  --battle-12: polygon(78.35% 0.00%, 100.00% 7.94%, 80.69% 18.31%);
  --battle-13: polygon(73.69% 21.62%, 83.67% 13.86%, 91.26% 19.02%);
  --battle-14: polygon(37.35% 55.65%, 20.13% 20.76%, 56.92% 26.88%);
  --battle-15: polygon(100.00% 100.00%, 73.94% 88.27%, 100.00% 78.44%);
  --battle-16: polygon(18.61% 89.92%, 27.64% 66.50%, 34.99% 83.90%);
  --battle-17: polygon(70.49% 71.62%, 51.16% 71.53%, 60.90% 58.91%);
  --battle-18: polygon(14.39% 75.57%, 17.31% 64.45%, 25.18% 74.94%);
  --battle-19: polygon(98.98% 100.00%, 97.46% 100.00%, 100.00% 91.76%);
  --battle-20: polygon(4.41% 10.25%, 21.01% 3.91%, 16.11% 16.20%);
  --battle-21: polygon(77.40% 25.22%, 75.60% 0.00%, 99.65% 5.05%);
  --battle-22: polygon(0.00% 82.61%, 20.72% 68.67%, 11.03% 100.00%);
  --battle-23: polygon(82.81% 100.00%, 60.28% 83.72%, 95.10% 71.21%);
  --battle-24: polygon(40.61% 93.48%, 2.56% 100.00%, 0.00% 79.87%);
  --battle-25: polygon(80.86% 100.00%, 66.79% 77.51%, 96.84% 80.96%);
  --battle-26: polygon(79.73% 31.53%, 78.81% 19.64%, 84.43% 17.53%);
  --battle-27: polygon(100.00% 31.18%, 65.67% 9.06%, 100.00% 0.00%);
  --battle-28: polygon(46.91% 47.35%, 66.36% 48.59%, 61.54% 66.03%);
  --battle-29: polygon(86.95% 70.59%, 62.25% 77.56%, 75.36% 52.82%);
  /* burpees */
  --burpees-0: polygon(60.12% 44.55%, 76.36% 52.08%, 63.04% 60.45%);
  --burpees-1: polygon(48.03% 18.03%, 32.43% 33.50%, 25.42% 13.49%);
  --burpees-2: polygon(56.54% 42.22%, 70.75% 80.00%, 32.35% 80.60%);
  --burpees-3: polygon(68.50% 13.47%, 63.08% 42.94%, 36.71% 15.17%);
  --burpees-4: polygon(57.75% 45.04%, 77.91% 56.57%, 68.27% 61.00%);
  --burpees-5: polygon(64.02% 2.36%, 57.80% 36.68%, 30.06% 12.88%);
  --burpees-6: polygon(53.93% 44.70%, 50.75% 67.19%, 34.55% 50.59%);
  --burpees-7: polygon(43.37% 59.97%, 34.18% 46.31%, 45.28% 48.39%);
  --burpees-8: polygon(50.97% 97.46%, 25.59% 74.99%, 62.74% 63.65%);
  --burpees-9: polygon(37.35% 55.65%, 20.13% 20.76%, 56.92% 26.88%);
  --burpees-10: polygon(64.51% 94.50%, 37.07% 100.00%, 44.53% 67.13%);
  --burpees-11: polygon(59.50% 30.92%, 36.08% 32.39%, 46.10% 7.74%);
  --burpees-12: polygon(57.92% 80.38%, 50.46% 68.42%, 59.03% 70.84%);
  --burpees-13: polygon(53.99% 80.14%, 49.01% 94.86%, 41.96% 75.62%);
  --burpees-14: polygon(48.10% 59.57%, 68.10% 57.43%, 56.81% 74.28%);
  --burpees-15: polygon(31.83% 0.00%, 59.59% 15.83%, 25.27% 29.55%);
  --burpees-16: polygon(44.40% 20.26%, 48.79% 31.28%, 36.95% 24.70%);
  --burpees-17: polygon(51.60% 63.38%, 43.07% 73.94%, 29.24% 59.82%);
  --burpees-18: polygon(44.20% 48.15%, 24.92% 26.35%, 67.16% 15.42%);
  --burpees-19: polygon(46.91% 47.35%, 66.36% 48.59%, 61.54% 66.03%);
  --burpees-20: polygon(23.51% 52.56%, 26.34% 33.16%, 47.64% 38.93%);
  --burpees-21: polygon(24.75% 59.08%, 48.13% 44.74%, 58.20% 68.01%);
  --burpees-22: polygon(38.45% 52.03%, 51.74% 59.68%, 38.16% 72.42%);
  --burpees-23: polygon(64.90% 83.25%, 41.62% 97.81%, 37.48% 65.04%);
  --burpees-24: polygon(43.67% 18.56%, 58.52% 21.86%, 39.91% 33.15%);
  --burpees-25: polygon(52.76% 0.45%, 62.58% 15.91%, 47.01% 18.30%);
  --burpees-26: polygon(59.38% 42.58%, 74.92% 84.98%, 41.78% 83.23%);
  --burpees-27: polygon(26.42% 62.33%, 55.94% 63.86%, 38.28% 92.34%);
  --burpees-28: polygon(51.63% 22.09%, 25.45% 20.63%, 39.64% 4.14%);
  --burpees-29: polygon(69.99% 57.09%, 75.59% 84.08%, 45.42% 88.42%);
  /* mindset */
  --mindset-0: polygon(92.39% 74.83%, 50.80% 78.69%, 69.43% 41.82%);
  --mindset-1: polygon(60.12% 44.55%, 76.36% 52.08%, 63.04% 60.45%);
  --mindset-2: polygon(95.00% 70.85%, 78.55% 88.90%, 74.29% 61.64%);
  --mindset-3: polygon(64.36% 52.85%, 53.09% 34.28%, 69.11% 30.07%);
  --mindset-4: polygon(56.54% 42.22%, 70.75% 80.00%, 32.35% 80.60%);
  --mindset-5: polygon(40.68% 42.98%, 72.26% 14.71%, 82.81% 60.06%);
  --mindset-6: polygon(57.75% 45.04%, 77.91% 56.57%, 68.27% 61.00%);
  --mindset-7: polygon(64.02% 2.36%, 57.80% 36.68%, 30.06% 12.88%);
  --mindset-8: polygon(100.00% 91.61%, 75.08% 90.07%, 81.79% 74.76%);
  --mindset-9: polygon(53.93% 44.70%, 50.75% 67.19%, 34.55% 50.59%);
  --mindset-10: polygon(43.37% 59.97%, 34.18% 46.31%, 45.28% 48.39%);
  --mindset-11: polygon(34.41% 74.47%, 14.46% 71.73%, 29.69% 54.95%);
  --mindset-12: polygon(38.13% 25.33%, 60.95% 45.92%, 35.48% 60.72%);
  --mindset-13: polygon(50.48% 26.83%, 42.28% 33.35%, 38.74% 25.86%);
  --mindset-14: polygon(59.50% 30.92%, 36.08% 32.39%, 46.10% 7.74%);
  --mindset-15: polygon(57.92% 80.38%, 50.46% 68.42%, 59.03% 70.84%);
  --mindset-16: polygon(53.99% 80.14%, 49.01% 94.86%, 41.96% 75.62%);
  --mindset-17: polygon(48.10% 59.57%, 68.10% 57.43%, 56.81% 74.28%);
  --mindset-18: polygon(30.37% 81.82%, 29.02% 66.09%, 33.83% 84.08%);
  --mindset-19: polygon(98.21% 100.00%, 76.83% 93.49%, 95.21% 71.94%);
  --mindset-20: polygon(34.14% 76.66%, 8.29% 60.09%, 43.97% 42.32%);
  --mindset-21: polygon(44.40% 20.26%, 48.79% 31.28%, 36.95% 24.70%);
  --mindset-22: polygon(0.00% 82.61%, 20.72% 68.67%, 11.03% 100.00%);
  --mindset-23: polygon(82.81% 100.00%, 60.28% 83.72%, 95.10% 71.21%);
  --mindset-24: polygon(78.94% 86.97%, 89.07% 94.12%, 79.67% 88.95%);
  --mindset-25: polygon(90.66% 75.28%, 95.73% 90.78%, 73.06% 83.78%);
  --mindset-26: polygon(29.81% 100.00%, 19.13% 71.00%, 60.16% 74.46%);
  --mindset-27: polygon(46.91% 47.35%, 66.36% 48.59%, 61.54% 66.03%);
  --mindset-28: polygon(86.95% 70.59%, 62.25% 77.56%, 75.36% 52.82%);
  --mindset-29: polygon(38.02% 34.96%, 44.45% 23.18%, 44.69% 33.97%);
  /* presence */
  --presence-0: polygon(92.39% 74.83%, 50.80% 78.69%, 69.43% 41.82%);
  --presence-1: polygon(60.12% 44.55%, 76.36% 52.08%, 63.04% 60.45%);
  --presence-2: polygon(25.60% 41.35%, 60.51% 44.23%, 30.40% 74.16%);
  --presence-3: polygon(64.36% 52.85%, 53.09% 34.28%, 69.11% 30.07%);
  --presence-4: polygon(56.54% 42.22%, 70.75% 80.00%, 32.35% 80.60%);
  --presence-5: polygon(40.68% 42.98%, 72.26% 14.71%, 82.81% 60.06%);
  --presence-6: polygon(10.94% 15.91%, 49.78% 2.38%, 54.02% 43.47%);
  --presence-7: polygon(57.75% 45.04%, 77.91% 56.57%, 68.27% 61.00%);
  --presence-8: polygon(42.32% 78.37%, 15.52% 65.69%, 32.12% 46.57%);
  --presence-9: polygon(37.34% 3.64%, 61.82% 28.79%, 29.12% 30.91%);
  --presence-10: polygon(31.30% 69.58%, 22.03% 59.71%, 44.68% 48.28%);
  --presence-11: polygon(34.41% 74.47%, 14.46% 71.73%, 29.69% 54.95%);
  --presence-12: polygon(92.05% 80.04%, 54.08% 75.09%, 72.15% 42.25%);
  --presence-13: polygon(50.48% 26.83%, 42.28% 33.35%, 38.74% 25.86%);
  --presence-14: polygon(59.50% 30.92%, 36.08% 32.39%, 46.10% 7.74%);
  --presence-15: polygon(57.92% 80.38%, 50.46% 68.42%, 59.03% 70.84%);
  --presence-16: polygon(70.49% 71.62%, 51.16% 71.53%, 60.90% 58.91%);
  --presence-17: polygon(16.33% 59.63%, 7.26% 25.46%, 46.88% 40.71%);
  --presence-18: polygon(34.14% 76.66%, 8.29% 60.09%, 43.97% 42.32%);
  --presence-19: polygon(44.40% 20.26%, 48.79% 31.28%, 36.95% 24.70%);
  --presence-20: polygon(87.08% 67.96%, 78.70% 63.80%, 89.63% 47.69%);
  --presence-21: polygon(51.60% 63.38%, 43.07% 73.94%, 29.24% 59.82%);
  --presence-22: polygon(44.20% 48.15%, 24.92% 26.35%, 67.16% 15.42%);
  --presence-23: polygon(44.55% 30.57%, 85.66% 18.76%, 75.96% 61.17%);
  --presence-24: polygon(54.63% 30.91%, 80.01% 19.28%, 75.35% 51.03%);
  --presence-25: polygon(43.00% 50.22%, 75.32% 70.74%, 41.64% 92.35%);
  --presence-26: polygon(61.62% 34.08%, 67.67% 18.07%, 86.34% 36.89%);
  --presence-27: polygon(28.24% 60.47%, 28.00% 51.01%, 34.31% 50.49%);
  --presence-28: polygon(65.17% 9.40%, 78.71% 39.58%, 42.16% 43.82%);
  --presence-29: polygon(38.45% 52.03%, 51.74% 59.68%, 38.16% 72.42%);
}
